@import "components/timer-page.css";
@import "components/progress-ring.css";

:root {
  --standardgray: #a0a0a0;
  --highlightedgray: #c0c0c0;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: auto;
  width: 100vw;
  max-width: 480px;
  text-align: center;
}

h1 {
  font-size: 1rem;
  color: green;
  text-align: center;
}

footer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  font-size: 0.6rem;
  color: var(--standardgray);
  outline: none;
  cursor: pointer;
}

button:hover {
  color: var(--highlightedgray);
}
