@import "components/timer-page.css";
@import "components/settings-page.css";
@import "components/progress-ring.css";
@import "components/slider.css";

:root {
  --backgroundgray: #303030;
  --standardgray: #a0a0a0;
  --highlightedgray: #c0c0c0;
}

body {
  background-color: var(--backgroundgray);
  color: white;
  font-family: sans-serif;
  margin: auto;
  width: 100vw;
  max-width: 30rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: green;
  text-align: center;
}

footer {
  display: table;
  width: 100%;
}

footer > div {
  display: table-cell;
  width: 33.3%;
}

footer > div:nth-child(1) {
  text-align: left;
}

footer > div:nth-child(2) {
  text-align: center;
}

footer > div:nth-child(3) {
  text-align: right;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: var(--standardgray);
  outline: none;
  cursor: pointer;
}

button:hover {
  color: var(--highlightedgray);
}

.hidden {
  display: none;
}
