.slider-container {
  position: relative;
}

input[type="range"].slider {
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
  height: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 0; /* iOS */
  background: var(--backgroundgray);
  overflow: hidden;
  outline: none;
}

.slider + .track {
  position: absolute;
  top: 8px;
  left: 0;
  right: 10px;
  height: 5px;
  margin: 0;
  padding: 0;
  background: black;
  z-index: 1;
}

.slider::-webkit-slider-runnable-track {
  background: dodgerblue;
  height: 20px;
  border: 8px solid var(--backgroundgray);
}

.slider.green::-webkit-slider-runnable-track {
  background: green;
}

.slider.red::-webkit-slider-runnable-track {
  background: red;
}

.slider.yellow::-webkit-slider-runnable-track {
  background: yellow;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: dodgerblue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: -8px;
  box-shadow: 100vw 0 0 100vw var(--backgroundgray);
}

.slider.green::-webkit-slider-thumb {
  background: green;
}

.slider.red::-webkit-slider-thumb {
  background: red;
}

.slider.yellow::-webkit-slider-thumb {
  background: yellow;
}

.slider::-moz-focus-outer {
  border: 0;
}

.slider::-moz-range-track {
  background: dodgerblue;
  height: 20px;
  border: 8px solid var(--backgroundgray);
  box-sizing: border-box;
}

.slider.green::-moz-range-track {
  background: green;
}

.slider.red::-moz-range-track {
  background: red;
}

.slider.yellow::-moz-range-track {
  background: yellow;
}

.slider::-moz-range-thumb {
  box-sizing: border-box;
  background: dodgerblue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 0;
  position: relative;
  top: -8px;
  box-shadow: 100vw 0 0 100vw var(--backgroundgray);
}

.slider.green::-moz-range-thumb {
  background: green;
}

.slider.red::-moz-range-thumb {
  background: red;
}

.slider.yellow::-moz-range-thumb {
  background: yellow;
}

.slider::-ms-thumb {
  background: dodgerblue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: -8px;
  box-shadow: 100vw 0 0 100vw var(--backgroundgray);
}

.slider.green::-ms-thumb {
  background: green;
}

.slider.red::-ms-thumb {
  background: red;
}

.slider.yellow::-ms-thumb {
  background: yellow;
}

.slider::-ms-ticks-after {
  display: none;
}

.slider::-ms-ticks-before {
  display: none;
}

.slider::-ms-track {
  background: dodgerblue;
  height: 20px;
  border: 8px solid var(--backgroundgray);
}

.slider.green::-ms-track {
  background: green;
}

.slider.red::-ms-track {
  background: red;
}

.slider.yellow::-ms-track {
  background: yellow;
}

.slider::-ms-tooltip {
  display: none;
}
