.timer-page__display {
  font-family: monospace;
  font-size: 3rem;
  position: relative;
  top: -8rem;
}

.timer-page__step {
  font-size: 1.8rem;
  position: relative;
  top: -14rem;
}

.timer-page__rounds {
  text-align: left;
}

#toggle-start-pause {
  position: relative;
  top: -2.5rem;
  border: 2px solid gray;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}
