.timer-page__display {
  font-family: monospace;
  font-size: 4rem;
  position: relative;
  top: -9.6rem;
}

#toggle-start-pause {
  position: relative;
  top: -2.5rem;
  border: 2px solid gray;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}
