<h1>Pomodoro Timer</h1>

<main class="content">
  {{outlet}}
</main>

<footer>
  <div>
    <button type="button" id="reset" {{on "click" this.resetTimer}}>Reset</button>
  </div>
  <div>
    <button type="button" id="settings" {{on "click" this.settings}}>Settings</button>
  </div>
  <div>
    <button type="button" id="history" {{on "click" this.history}}>History</button>
  </div>
</footer>